[Unit]
Description=Copy roms to emu deck folder as is

[Service]
Type=oneshot
EnvironmentFile=%h/.steamdeck_helpers/env/emudeck-copy-roms.env
ExecStart=sh -c 'cd ${cwd} && python ${main} ${args}'

[Install]
WantedBy=default.target
