[Unit]
Description=Copy retroarch files to backup folders

[Service]
Type=simple
EnvironmentFile=%h/.steamdeck_helpers/env/retroarch-backup.env
ExecStart=sh -c 'rsync -avzhm ${rsync_filters} ${source_folder} ${destination_folder}'

[Install]
WantedBy=default.target
