[Unit]
Description=Copy yuzu saves to backup folders

[Service]
Type=simple
EnvironmentFile=~/.steamdeck_helpers/env/yuzu-backup.env
ExecStart=sh -c 'rsync -avzhm ${source_folder} ${destination_folder}'

[Install]
WantedBy=default.target
